mysql:
workbench/jupyter notebook
relational database
structured data
tables

MongoDB:
compass/jupyter notebook
non relational database, no sql database
unstructured data
json > dictionary > key : value

In [ ]:
emp :
    empid, empname,salary,loc  contact             add 
    1001.  rahul.   60000 pune  null
    1002.  rohit.   50000 pune 8983720070
    1003.  snehal.  40000 pune  no field
    1004.  neha.   '30000'pune 
    1005   vaibhav. 80000 pune. mob no/email

In [ ]:
{contact:{'mobno:':value,'email':value}}

In [ ]:
mysql      mongodb
database   database
table      collection
rows       document
columns    keys

### import libraries

In [ ]:
pip install pymongo

In [ ]:
import pymongo
import pandas as pd

### create connection
pymongo.MongoClient  = Function to create a conncetion 
27017 = default code for momgodb 
mongodb://localhost:27017

In [ ]:
client=pymongo.MongoClient('mongodb://localhost:27017')
client

### operations

In [ ]:
1. create database
2. create collection
3. insert document
4. read data
5. update
6. delete

In [ ]:
databases >> database >> collections >> documents >> key: value

### create database/ use db
db = conncetion_name["database_name]

In [ ]:
db=client['stud_data']
db

### create collection
coll = database_name["collection_name]

In [ ]:
coll=db['student']
coll

In [ ]:
# to see the collection

In [ ]:
db.list_collection_names()

### insert document

In [ ]:
insert_one (): used to insert single document
insert_many(): used to insert multiple documents

### insert_one()

In [ ]:
collection_name.insert_one({key:value})

In [ ]:
coll.insert_one({'rollno':101,'stud_name':'rahul','cgpa':9,'loc':'pune'})

In [ ]:
db.list_collection_names()

In [ ]:
coll.insert_one({'rollno':102,'stud_name':'rohit','cgpa':8,'loc':'pune','contact':8983720070})

In [ ]:
coll.insert_one({'rollno':103,'stud_name':'rohit','cgpa':8,
                 'loc':'pune','contact':{'mobno':8983720070,'email':'rohit@gmail.com'}})

### insert_many()

In [ ]:
collection_name.insert_many([{},{}])

In [ ]:
coll.insert_many([{'rollno':104,'stud_name':'snehal'},
                {'rollno':105 ,'stud_name':'neha','loc':'pune'}])

### read data

In [ ]:
find_one(): used to read single document
find():     used to read multiple documents

### 1. find_one()

In [ ]:
collection_name.find_one({where condition},{select})
without filter condition: returns the first document of the collection
with filter condition:    return the first matched document

In [ ]:
coll.find_one({})

In [ ]:
coll.find_one({'stud_name':'rohit'})

In [ ]:
coll.find_one({'cgpa':8})

In [ ]:
coll.find_one({'stud_name':'rohit'},{'_id':0})

In [ ]:
coll.find_one({'stud_name':'rohit'},{'_id':0,'contact':0})

In [ ]:
coll.find_one({'stud_name':'rohit'},{'contact':1})

In [ ]:
coll.find_one({'rollno':101,'cgpa':9})

In [ ]:
coll.find_one({'$or':[{'rollno':101,'cgpa':9}]})

In [ ]:
coll.find_one({'stud_name':'rohit'},{'_id':0,'contact':0})

In [ ]:
coll.find_one({'stud_name':'rohit'},{'_id':0,'contact':1})

In [ ]:
coll.find_one({'stud_name':'rohit'},{'roll_no':0,'contact':1})

In [ ]:
coll.find_one({'stud_name':'rohit'},{'roll_no':1,'contact':1})

In [ ]:
20 keys : read 4 keys : specify 1 for these 4 keys
20 keys : skip 4 keys : specify 0 for these 4 keys

### find()

used to return multiple documents

In [ ]:
collection_name.find({where condition},{select})
without filter condition: returns all documents of the collection
with filter condition   : returns the all matched documents

In [ ]:
data=coll.find({},{'_id':0})
list(data)

In [ ]:
data=coll.find({'stud_name':'rohit'},{'_id':0})
list(data)

### update data

In [ ]:
update_one() : update a single document 
update_many(): update multiple documents

### update_one()

In [ ]:
collection_name.update_one({filter condition},{'$set':{key:value}})
without filter condition: update the first document of the collection
with filter condition:    update the first matched document

In [ ]:
coll.update_one({},{'$set':{'loc':'mumbai'}})

In [ ]:
coll.update_one({},{'$set':{'contact':9028299590}})

In [ ]:
coll.update_one({'stud_name':'rohit'},{'$set':{'cgpa':7}})

### update_many()

In [ ]:
collection_name.update_many({filter condition},{'$set':{'key':'value'}})
without filter condition: update all documents of the collection
with filter condition   : update the all matched documents

In [ ]:
coll.update_many({},{'$set':{'branch':'comp'}})

In [ ]:
coll.update_many({'stud_name':'rohit'},{'$set':{'loc':'chennai'}})

### delete data

In [ ]:
delete_one(): delete the single document
delete_many(): delete multiple documents

### 1. delete_one()

In [ ]:
collection_name.delete_one({filter condition})
without filter condition: delete the first document of the collection
with filter condition:    delete the first matched document

In [ ]:
coll.delete_one({})

In [ ]:
coll.delete_one({'loc':'pune'})

### 2. delete_many()

In [ ]:
coll.delete_many({filter condition})
without filter condition: delete all documents of the collection
with filter condition   : delete the all matched documents

In [ ]:
coll.delete_many({'loc':'chennai'})

In [ ]:
coll.delete_many({})

### delete collection

In [ ]:
coll.drop()

### drop database

In [ ]:
client.drop_database('ML')

### import csv file into mongo collection

In [ ]:
df=pd.read_csv('emp.csv')
data=df.to_dict(orient='records')
db=client['emp']
db.emp_data.insert_many(data)

### import json file into mongo collection

In [ ]:
import json

In [ ]:
f=open('iris.json')
data=json.load(f)
db.iris.insert_many(data)